*{
  margin: 0;
  padding: 0;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 35px;
  text-align: center;
  font-size: 18px;
}
th {
  font-size: 24px;
  background: darkgray;
}
 tr:nth-child(odd) {
  background-color: darkgray;
}